<p>
    Para maiores informações entre em contato com:</p>
<p>
    <strong>Vinicius Quaiato</strong>: vinicius.quaiato@gmail.com
    <br />
    <strong>Victor Cavalcante</strong>: victor@cavalcante.net
</p>
