@{
    ViewBag.Title = "Grade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    Grade</h1>
<table summary="Grade MVC Summit 2011">
    <thead>
        <tr>
            <th class="palestrante">
                MVC Geek
            </th>
            <th class="palestra">
                Palestra
            </th>
            <th class="centro">
                Horário
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Vinicius Quaiato
            </td>
            <td>
                Dominando o ASP.NET MVC 3
            </td>
            <td class="centro">
                --:--
            </td>
        </tr>
        <tr>
            <td>
                Douglas Aguiar
            </td>
            <td>
                Dê poder ao seu Modelo - DDD e ASP NET MVC
            </td>
            <td class="centro">
                --:--
            </td>
        </tr>
        <tr>
            <td>
                André Baltieri
            </td>
            <td>
                Validação de dados nas aplicações ASP.NET MVC
            </td>
            <td class="centro">
                --:--
            </td>
        </tr>
        <tr>
            <td>
                Bruno Kenj
            </td>
            <td>
                Consumindo listas do SharePoint 2010 no ASP.NET MVC com jQuery e C#
            </td>
            <td class="centro">
                --:--
            </td>
        </tr>
        <tr>
            <td>
                Pedro Reys
            </td>
            <td>
                Hey, Controllers, hora do #DotNetEmForma!
            </td>
            <td class="centro">
                --:--
            </td>
        </tr>
        <tr>
            <td>
                Victor Cavalcante
            </td>
            <td>
                Web-Developer Profissional
            </td>
            <td class="centro">
                --:--
            </td>
        </tr>
        <tr>
            <td>
                Giovanni Bassi
            </td>
            <td>
                De volta ao domínio: BDD com ASP.NET MVC 3, Razor e Cucumber
            </td>
            <td class="centro">
                --:--
            </td>
        </tr>
    </tbody>
</table>
<div class="grade">
    <p>
        <strong>Atenção! </strong>Esta é uma grade preliminar. Ela está confirmada, porém
        os horários/ordem das palestras podem ser alterados.</p>
    <p>
        Estamos ainda organizando uma segunda trilha a ser realizada paralelamente a esta
        com conteúdo apenas para iniciantes em ASP.NET MVC. Aguardem.</p>
</div>
