@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    Vem aí o MVC Summit 2011</h1>
<p>
    Este é o primeiro evento brasileiro 100% focado em ASP.NET MVC.</p>
<p>
    Esta primeira edição será 100% online, ou seja, você poderá participar de qualquer
    lugar do Brasil e do mundo!</p>
<p>
    Fique ligado para mais novidades e anúncios, muita coisa boa está por vir.</p>
@Html.Partial("_Contato")
