@{
    ViewBag.Title = "OEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sobre o MVC Summit</h1>
<p>Há algum tempo estamos ouvindo falar de ASP.NET MVC. Temos acompanhado palestras em alguns eventos de tecnologia, artigos em revistas, blogs dedicados ao assunto. Mas parece que não é suficiente.</p>
<p>A cada dia mais pessoas começam a desenvolver/estudar ASP.NET MVC e acabam se deparando com as mesmas dúvidas e dificuldades.</p>
<p>O MVC Summit é um evento totalmente focado em ASP.NET MVC. Nossa idéia é disseminar a tecnologia de uma forma mais simples e tornar o evento uma referência no assunto.</p>
<p>Esta primeira edição será 100% online, realizada através de Webcasts para que todos possam participar, independente de onde estejam. Realizaremos ainda esse ano uma edição presencial (e faremos o possível para que também seja transmitida).</p>
<p>Acreditamos que todo esforço para disseminar o ASP.NET MVC é válido pois acreditamos que este framework nos permite criar bons softwares.</p>
<p>Esperamos que vocês apreciem o evento, divulguem, participem e nos dêem seu feedback, pois esse evento é feito para vocês.</p>
<p class="assinatura">Abraços,</p>
<p class="assinatura">MVC Summit guys</p>

